@model AdminSoft.WebSite.Models.EmployeeViewModels

@{
    ViewBag.Title = "Eliminar empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">@ViewBag.Title</h2>

<div class="alert alert-danger">
    ¿Esta seguro que quiere eliminar este registro?
</div>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.EmployeeId)

    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p class="form-control-static">@Html.DisplayFor(model => model.FirstName)</p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p class="form-control-static">@Html.DisplayFor(model => model.LastName)</p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p class="form-control-static">@Html.DisplayFor(model => model.Address)</p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p class="form-control-static">@Html.DisplayFor(model => model.City)</p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p class="form-control-static">@Html.DisplayFor(model => model.State)</p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p class="form-control-static">@Html.DisplayFor(model => model.Phone)</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            @if (Model.UrlAvatar != null)
            {
                <img alt="avatar" class="img-responsive img-thumbnail" src="@Model.UrlAvatar" />
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="@Url.Action("Index")" class="btn btn-primary">
                        <span class="glyphicon glyphicon-arrow-left"></span> Regresar
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>




}
