@model PLNFramework.Security.ViewModels.EditAppUserViewModel

@{
    ViewBag.Title = "Edit User";
}

<h3>
    <a href="@Url.Content("~/SecuritySettings/")">Admin</a>/<a href="@Url.Content("~/SecuritySettings/Users")">Users</a>/@ViewBag.Title
</h3>
<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="container">
                        @foreach (var role in Model.AvailableRoles)
                        {
                            var selected = "";
                            if (Model.SelectedRoles != null)
                            {
                                if (Model.SelectedRoles.Contains(role.Id))
                                {
                                    selected = "checked";
                                }
                            }
                            <div class="checkbox">
                                <input name="SelectedRoles" type="checkbox" value="@role.Id" @selected />
                                @role.Name
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
