@model IEnumerable<PLNFramework.Security.ViewModels.AppRoleViewModel>

@{
    ViewBag.Title = "Roles";
}

<h3><a href="@Url.Content("~/SecuritySettings/")">Admin</a>/Roles</h3>

<a href="@Url.Action("CreateRole")" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span> New role
</a>
<p></p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRole", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsRole", new { id=item.Id })
        </td>
    </tr>
}

</table>